/* Manrope font */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&family=Orbitron:wght@600&display=swap");

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-family: Manrope, sans-serif;
    line-height: 1.6;
}

.s-center {
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .s-center {
        text-align: left;
    }
}

.flex {
    display: flex;
}

#redirect, #contact, #info {
    border: 0;
    background-image: linear-gradient(150deg, #0142a0, #8500ff, #411958);
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 18px;
    padding: 4px;
    margin-left: 30px;
    cursor: pointer;
    transition: 0.3s;
}

#redirect span, #contact span, #info span {
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: 0.3s;
}

#redirect:hover span, #contact:hover span, #info:hover span {
    background: none;
}

#redirect:active, #contact:active, #info:active {
    transform: scale(0.9);
}

section {
    margin-bottom: 30px;
}

#buttons-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
